:root {
  font-family: "Tajawal !important";
  color-scheme: light dark;
  color: black;
  background-color: #fff;
}

#LandingTitle {
  background: linear-gradient(90deg, #9a46b8, #19547b);
  display: "inline";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* -webkit-background: "linear-gradient(90deg, #9A46B8, #19547B)"; */
}
video {
  border-radius: 0.6rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: "Tajawal !important";
}

