:root {
  color-scheme: light dark;
  color: black;
  background-color: #fff;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  overflow-x: hidden;
}
